# Created by .ignore support plugin (hsz.mobi)
/cmake-build-debug/
.idea
*.dSYM
/*.dSYM
.vscode/*
/.vscode/
.DS_Store

# vscode ================================
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app
